
<div class="stripe">
  <div class ="container">
    <div class="row">
         <div class="col-md-6 col-md-offset-3">
<img class="irc_mut" width="304" height="170" style="margin-top: 112px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEisvUmmPcsNBl5ZjRQwJtlcxDXrQoTc2t787UaO-p-8BPScFB">
      </div>
    </div>
  </div>
</div>
<div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="caption">Chicago CTA Capacity</div>
         
     </div>
    </div>
  </div>
 </div>


    
